build
*.pdx
*.pdx.zip
Source/pdex.bin
Source/pdex.dll
Source/pdex.dylib
.DS_Store
.idea/
cmake-build-*
CircuitDude
Midnight Wild
/build_simulator
/build_device
/.sentry-native
*.dll
*.elf
*.zip
*.bin
*.so
*.dylib
